Repository tiagodocouto/player-service, changes with the labels that .github/labeler.yml gives for each.
All labels: @app, @domain, @core, @test, @doc, @ci, @deps

.github/labeler.yml:

'@app':
  - 'src/main/kotlin/io/github/tiagodocouto/playerservice/app/*'
  - 'src/main/kotlin/io/github/tiagodocouto/playerservice/app/**/*'

'@domain':
  - 'src/main/kotlin/io/github/tiagodocouto/playerservice/domain/*'
  - 'src/main/kotlin/io/github/tiagodocouto/playerservice/domain/**/*'

'@core':
  - 'src/main/kotlin/io/github/tiagodocouto/playerservice/core/*'
  - 'src/main/kotlin/io/github/tiagodocouto/playerservice/core/**/*'

'@test':
  - 'src/test/kotlin/*'
  - 'src/test/kotlin/**/*'

'@doc':
  - '*.md'
  - '**/*.md'
  - 'docs/*'
  - 'docs/**/*'

'@ci':
  - '.whitesource'
  - 'renovate.json'
  - 'qodana.yaml'
  - 'codecov.yml'
  - 'detekt-config.yml'
  - 'diktat-analysis.yml'
  - '.github/*'
  - '.github/**/*'

'@deps':
  - '*.kts'
  - '**/*.kts'
  - 'gradle/*'
  - 'gradle/**/*'

ArchUnit: adding Arch tests
  .gitignore
  .idea/codeStyles/CodeStyle.xml
  .idea/copyright/copyright.xml
  .run/player-service.run.xml
  CHANGELOG.md
  src/test/kotlin/io/github/tiagodocouto/helper/extension/ListExtensions.kt
  src/test/kotlin/io/github/tiagodocouto/helper/rule/ArchConditionShouldHaveTestForClass.kt
  src/test/kotlin/io/github/tiagodocouto/helper/spec/ArchTestSpec.kt
  src/test/kotlin/io/github/tiagodocouto/helper/spec/IntegrationTestSpec.kt
  src/test/kotlin/io/github/tiagodocouto/helper/spec/TestSpec.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/ArchTest.kt
  src/test/resources/archunit.properties
  src/test/resources/kotest.properties
Labels: @test, @doc

Test Setup: - integration tests - mongo container
  .run/player-service [update].run.xml
  CHANGELOG.md
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/resources/banner.txt
  src/test/kotlin/io/github/tiagodocouto/helper/infra/IntegrationTestContext.kt
  src/test/kotlin/io/github/tiagodocouto/helper/infra/Mongo.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/ArchTest.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/app/AppTest.kt
  src/test/resources/application-itest.properties
Labels: @test, @doc, @deps

Documentation: - adding PlayerService initial design
  CHANGELOG.md
  README.md
  docs/architecture.jpg
  docs/player-service.jpg
Labels: @doc

Tests: - fixing Arch tests
  src/main/kotlin/io/github/tiagodocouto/playerservice/core/extension/ListExtensions.kt
  src/test/kotlin/io/github/tiagodocouto/helper/extension/FakerExtensions.kt
  src/test/kotlin/io/github/tiagodocouto/helper/rule/ArchConditionShouldHaveTestForClass.kt
  src/test/kotlin/io/github/tiagodocouto/helper/spec/ArchTestSpec.kt
Labels: @core, @test

Player: - adding Player domain
  src/main/kotlin/io/github/tiagodocouto/playerservice/domain/base/BaseDocument.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/domain/player/Player.kt
  src/test/kotlin/io/github/tiagodocouto/helper/fixture/PlayerFixture.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/domain/base/BaseDocumentTest.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/domain/player/PlayerTest.kt
Labels: @domain, @test

Player: - adding Player domain layer - adding Player infra layer
  src/main/kotlin/io/github/tiagodocouto/playerservice/app/App.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/domain/player/Player.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/domain/player/PlayerService.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/infra/player/PlayerRepository.kt
  src/test/kotlin/io/github/tiagodocouto/helper/fixture/PlayerFixture.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/domain/player/PlayerServiceTest.kt
Labels: @app, @domain, @test

Testing: - adding Allure - config Kotest properties
  .gitignore
  .idea/codeStyles/CodeStyle.xml
  .run/player-service [check].run.xml
  build.gradle.kts
  gradle/libs.versions.toml
  src/test/kotlin/io/github/tiagodocouto/helper/config/KotestProjectConfig.kt
  src/test/resources/kotest.properties
Labels: @test, @deps

Dependencies: - bump Gradle version
  gradle/wrapper/gradle-wrapper.properties
Labels: @deps

Player: - NotFoundException - moving packages - adapting ArchUnit
  src/main/kotlin/io/github/tiagodocouto/playerservice/core/exception/NotFoundException.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/domain/player/document/Player.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/domain/player/exception/PlayerNotFoundException.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/domain/player/service/PlayerService.kt
  src/test/kotlin/io/github/tiagodocouto/helper/fixture/PlayerFixture.kt
  src/test/kotlin/io/github/tiagodocouto/helper/rule/ArchConditionShouldHaveTestForClass.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/domain/player/document/PlayerTest.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/domain/player/service/PlayerServiceTest.kt
Labels: @domain, @core, @test

Testing: - adding pitest-github on GHActions - adding Allure - config Kotest properties
  .github/workflows/code_quality.yml
  .gitignore
  .run/player-service [pit].run.xml
  .run/player-service [update].run.xml
  build.gradle.kts
  docs/CodeStyle.xml
  docs/copyright.xml
  gradle/libs.versions.toml
  qodana.yaml
  src/test/kotlin/io/github/tiagodocouto/playerservice/domain/player/service/PlayerServiceTest.kt
Labels: @test, @doc, @ci, @deps

Testing: - adding pitest-github on GHActions - adding Allure - config Kotest properties
  build.gradle.kts
Labels: @deps

Github Actions: - Moving PITEST to another task - Using default on Kover - GithubWorkflowKt
  .github/workflows/code_quality.yml
  build.gradle.kts
  cdg-pitest-licence.txt
  gradle/libs.versions.toml
Labels: @ci, @deps

Github Actions: - merging workflows
  .github/workflows/labeler.yml
  .github/workflows/workflow.yml
  .run/player-service [pit].run.xml
  build.gradle.kts
  gradle/libs.versions.toml
Labels: @ci, @deps

Github Actions: - merging workflows
  .github/workflows/workflow.yml
Labels: @ci

Github Actions: - merging workflows
  .github/workflows/main.yml
  .github/workflows/pr.yml
Labels: @ci

Allure + Pitest (#2)
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .gitignore
  .run/player-service [pit].run.xml
  .run/player-service [update].run.xml
  build.gradle.kts
  cdg-pitest-licence.txt
  docs/CodeStyle.xml
  docs/copyright.xml
  gradle/libs.versions.toml
  qodana.yaml
  src/test/kotlin/io/github/tiagodocouto/playerservice/domain/player/service/PlayerServiceTest.kt
Labels: @test, @doc, @ci, @deps

Tweaking gradle.properties
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .run/player-service [check].run.xml
  gradle.properties
  src/test/kotlin/io/github/tiagodocouto/playerservice/domain/player/service/PlayerServiceTest.kt
Labels: @test, @ci

Tweaking Workflows
  .github/workflows/pr.yml
Labels: @ci

Tweaking Workflows
  .github/workflows/pr.yml
Labels: @ci

Tweaking Workflows
  .github/workflows/pr.yml
Labels: @ci

Tweaking Workflows
  .github/workflows/pr.yml
Labels: @ci

Tweaking Workflows
  .github/workflows/pr.yml
  README.md
Labels: @doc, @ci

Tweaking Workflows
  .github/workflows/pr.yml
Labels: @ci

Tweaking Workflows
  .github/workflows/pr.yml
Labels: @ci

Tweaking Workflows
  .github/workflows/pr.yml
Labels: @ci

Tweaking Workflows
  .github/workflows/pr.yml
Labels: @ci

Tweaking Gradle (#3)
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .run/player-service [check].run.xml
  README.md
  gradle.properties
  src/test/kotlin/io/github/tiagodocouto/playerservice/domain/player/service/PlayerServiceTest.kt
Labels: @test, @doc, @ci

[WIP] Player DTO Mapping
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  src/main/kotlin/io/github/tiagodocouto/playerservice/app/player/client/PlayerMapper.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/app/player/client/PlayerRecord.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/app/player/controller/PlayerController.kt
  src/test/kotlin/io/github/tiagodocouto/helper/fixture/PlayerFixture.kt
  src/test/kotlin/io/github/tiagodocouto/helper/rule/ArchConditionShouldHaveTestForClass.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/app/player/client/PlayerRecordTest.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/app/player/controller/PlayerControllerTest.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/domain/player/document/PlayerTest.kt
Labels: @app, @test, @deps

Updating deps and fixing formatting
  gradle/libs.versions.toml
  src/test/kotlin/io/github/tiagodocouto/helper/rule/ArchConditionShouldHaveTestForClass.kt
Labels: @test, @deps

(bump): versions
  build.gradle.kts
  cdg-pitest-licence.txt
  gradle.properties
  gradle/libs.versions.toml
Labels: @deps

(bump): versions - fixing pitest deps
  .github/workflows/pr.yml
  .run/player-service [check + pitest].run.xml
  .run/player-service [pitest].run.xml
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
Labels: @ci, @deps

(chore): removing warning - adding ignore fields to map
  src/main/kotlin/io/github/tiagodocouto/playerservice/app/mapper/annotation/IgnoreBaseFields.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/app/player/client/PlayerMapper.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/app/player/client/PlayerRecord.kt
  src/main/kotlin/io/github/tiagodocouto/playerservice/app/player/controller/PlayerController.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/app/player/client/PlayerRecordTest.kt
  src/test/kotlin/io/github/tiagodocouto/playerservice/app/player/controller/PlayerControllerTest.kt
Labels: @app, @test
